<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hospital Management System</title>
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body >
    <div class="wrapper" >
    <div class="container" style="height:auto;width:auto;padding-bottom: 0px;">
       <img src="/static/images/pmenu1.jpg" alt="" />         
    </div>
    <div class="container" style="height:auto;width:auto;padding-bottom: 0px;">
      <div class="inner-container">
        <div class="menu">
          <a href="patient_registration">
            <img src="/static/images/pmenu1.jpg" alt="" />
            <h5>New Patient Registration</h5>
          </a>
        </div>
        <div class="menu">
          <a href="health_pred">
            <img src="/static/images/report.jpg" alt="" />
            <h5>Statistical Report</h5>
          </a>
        </div>
        <div class="menu">
          <a href="Hospitalization_form">
            <img src="/static/images/pmenu2.jpg" alt="" />
            <h5>Bed Allocation</h5>
          </a>
        </div>
        <div class="menu">
          <a href="Patient_search">
            <img src="/static/images/pmenu3.jpg" alt="" />
            <h5>Search Patient</h5>
          </a>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
